@model DiffO.Demo.Models.LionModel
@using DiffO

<ul>
    <li style="@Html.GetPropertyDiffStyle(x => x.Name)">@Model.Name</li>
    @if (Model.Child != null)
    {
        <li>@Html.Partial("_Lion", Model.Child)</li>
    }
</ul>