@model DiffO.Demo.Models.DemoViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        font-family: segoe ui;
    }
    ul {
        list-style-type: none;
    }    
    ul li {
        padding: 5px;
        margin: 2px;
        border: 1px solid grey;
    }
</style>


<h2>Demo</h2>

<a href="@Url.Action("Index", new { reverse = !Model.Reverse })">Reverse Compare</a>

@Html.Partial("_Zoo", Model.Bucharest)

@Html.Partial("_Zoo", Model.Cluj)
